.business_container {
	margin-top:10px;
    clear: both;
    min-height: 604px;
    width: 970px;
}
.business_contant_container {
    clear: both;
    min-height: 662px;
}
.map_container {
    float: left;
    width: 434px;
    min-height: 530px;
    background:no-repeat center center;
}
.pinsbox {
	clear: both;
	min-height: 95px;
	width: 178px;
	border-style: solid;
	border-width: 5px;
	border-color: #F0F0F0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-left: 25px;
}
.dhpl_box {
    position:relative;
	height:auto;
    left: 198px;
    top: 90px;
}
.ibeul_box {
    position:relative;
    min-height: 15px;
    width:43%;
    left: 280px;
    top: 215px;
}
.ibel_box {
    position:relative;
    min-height: 15px;
    width:43%;
    left: 215px;
    top: 245px;
}
.aerl_box {
    position:relative;
    min-height: 15px;
    width:43%;
    left: 218px;
    top: 280px;
}
.ibpgl_box {
    position:relative;
    min-height: 15px;
    width:43%;
    left: 208px;
    top: 275px;
}
.ibtpl_box {
    position:relative;
    min-height: 15px;
    width:43%;
    left: 200px;
    top: 265px;
}
.ibpml_box {
    position:relative;
    min-height: 15px;
    width:43%;
    left: 30px;
    top: 230px;
}
.ibpml_box h4{
	text-align:right;
}
.ibpil_box {
    position:relative;
    min-height: 15px;
    width:43%;
    left: 1px;
    top: 225px;
}
.ibpil_box h4{
	text-align:right;
}
.ibetl_box {
    position:relative;
    min-height: 15px;
    width:43%;
    left: 20px;
    top: 220px;
}
.ibetl_box h4{
	text-align:right;
}
.rrrel_box {
	position: relative;
	min-height: 15px;
	width: 55%;
	left: 195px;
	top: 205px;
	height: 21px;
}
.ibeml_box {
    position:relative;
    min-height: 15px;
    width:43%;
    left: 10px;
    top: 60px;
}
.ibeml_box h4{
	text-align:right;
}
.iconsbox {
    float: left;
    width: 10px;
    min-height: 11px;
    padding-top:6px;
}
.iconsbox_name {
    float: left;
    width: auto;
    min-height: 15px;
}
.pin_iconsbox {
	float: left;
	width: 24px;
	min-height: 14px;
	padding-top: 6px;
}
.pin_iconsnames {
    float: left;
    width: 154px;
    min-height: 15px;
}
.pin_iconsnames h4 {
    font-size:10px;
    color:rgb(153, 153, 153);
}

.pinicons_def {
    clear: both;
    min-height: 16px;
    width:213px;
}
.content_container {
    float: left;
    width: 487px;
    min-height: 264px;
}

.capacity_box {
    float: left;
    width: 103px;
    min-height: 28px;
    border-bottom:2px solid #E3E3E3;
}
.business_contant_container h4 {
	color: rgb(102, 102, 102);
	font-size: 10px;
	font-family: arial, helvetica, sans-serif;
	text-align: center center;
	min-height: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
	height: auto;
}

img.image2 {
    margin-left: auto;
    margin-right:auto;
    display:block;
    width:15px;
    height:8px;
}
img.image3 {
    position: absolute;
    margin-left: 100px;
    margin-right: auto;
    display: block;
    padding-top: 30px;
}
